@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

:root {
    --fonte1: 'Fredoka', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fonte1);
    background-color: white;
    padding: 5px 50px;
    min-width: 100vw;
    min-height: 100vh;
}

.topo {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    height: 14vh;
    width: 100%;
}

.topo-direita {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    height: 100%;
}

.topo-direita > p:hover {
    color: rgb(82, 82, 82);
    background-color: rgb(245, 245, 245);
    padding: 10px 0px;
    border-radius: 20px;
    cursor: pointer;
}

.topo-direita .mundo {
display: flex;
align-items: center;
justify-content: center;
width: 40px;
}

.topo-direita .mundo:hover {
    background-color: #F7F7F7;
    padding: 10px 10px;
    border-radius: 20px;
    cursor: pointer;
}

.topo-direita-botoes {
    display: flex;
    gap: 10px;
    padding: 10px;
    border: 1px solid rgb(236, 236, 236);
    border-radius: 20px;
    cursor: pointer;
}

.topo-direita-botoes #profile {
    width: 20px;
    height: 20px;
}

.topo-direita-botoes:hover {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.041);
}

.topo-botoes {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 500px;
    height: auto;
}

.topo-botoes > #acomodacoes {
    font-weight: 500;
    text-align: center;
    padding: 20px;
}

.topo-botoes #experiencias {
    color:rgb(173, 173, 173);
    text-align: center;
    padding: 12px;
    border-radius: 30px;
    box-sizing: border-box;
    font-weight: 400;
}

.topo-botoes #experiencias:hover {
    color: rgb(108, 108, 108);
    background-color: rgb(245, 245, 245);
    padding: 12px;
    border-radius: 30px;
    box-sizing: border-box;
    cursor: pointer;
}

#logo-airbnb {
    width: 7em;
    height: 3.5em;
    cursor: pointer;
    margin-left: 20px;
}

img {
    width: 20px;
    height: 20px;
}

#anuncie {
    width: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-pesquisa {
    padding: 10px 0 20px 0;
}

.tipos-destinos {
    display: flex;
    gap: 5px;
    font-size: 13px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.traco-pesquisa {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgb(236, 236, 236);
    margin-top: 20px;
}

.destinos, .destinos-selecao {
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    text-align: center;
}

.destinos > img, .destinos-selecao > img {
    align-self: center;
    justify-self: center;
    zoom: 1.2;
}

.destinos > img {
    opacity: 60%;
}

.destinos {
    color: grey;
}

.destinos-selecao {
    opacity: 100%;
    color: black;
}

.destinos-seta {
    width: 50px;
    height: 50px;
    background-color: yellow;
}

.destinos-selecao::after {
    content:"";
    display: block;
    width: 100%;
    height: 2.5px;
    background-color: rgb(85, 85, 85);
}

.pesquisa {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    border: 1px solid rgb(218, 218, 218);
    text-decoration: none;
    width: 870px;
    height: auto;
    margin: auto;
    border-radius: 999px;
    justify-items: flex-end;
    align-items: center;
    padding-right: 5px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.041);
}

.barra-pesquisa, .barra-pesquisa2 {
    gap: 5px;
    padding: 10px 25px;
}

.barra-pesquisa:hover, .barra-pesquisa2:hover {
    background-color: rgb(238, 238, 238);
    border-radius: 80px;
}

#traco::after {
    content: "";
    border: 0.2px solid rgb(225, 225, 225);
}

#traco:hover::after {
    border: 0.1px solid white;
}

.barra-pesquisa > label, .barra-pesquisa2 > label {
    font-family: var(--fonte1);
    font-size: 14px;
}

.barra-pesquisa > input, .barra-pesquisa2 > input {
    outline: none;
    border: none;
    width: 100%;
    background-color: transparent;
}

.pesquisa #search {
    background-color: #E41D5A;
    height: 35px;
    width: 35px;
    zoom: 1.2;
    border-radius: 999px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pesquisa #search:hover {
    background-color: #b80b2e;
}